.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  padding-left: 15px;
  position: relative;
}

.Header h1 {
  margin: 0;
}

.Header h1 a {
  text-decoration: none;
}

.Header a {
  color: white;
  align-content: center;
}

.Header__not-logged-in {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

 .Header__not-logged-in .Hyph {
  display: none;
} 

@media screen and (min-width: 450px) {
  .Header {
    align-items: baseline;
  }
  .Header h1 {
    font-size: 30pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .Header__not-logged-in {
    flex-direction: row;
  }

  .Header__not-logged-in .Hyph {
    display: initial;
  }
}


@media screen and (min-width: 450px) {
  .Header {
    align-items: baseline;
  }
  .Header h1 {
    font-size: 30pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .Header__not-logged-in {
    flex-direction: row;
  }

  .Header__not-logged-in .Hyph {
    display: initial;
  }
}