.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 125px;
  position: relative;
}

.Header h1 {
  margin: 0;
}

.Header h1 a {
  text-decoration: none;
  text-align: center;
}

.Header a {
  color: white;
  align-content: center;
}

.Header__logged-in {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}


.Header__not-logged-in {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

 .Header__not-logged-in .Hyph {
  display: none;
} 

@media screen and (min-width: 450px) {
  .Header {
    align-items: baseline;
  }
  .Header h1 {
    font-size: 30pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .Header__not-logged-in {
    flex-direction: row;
  }

  .Header__not-logged-in .Hyph {
    display: initial;
  }
}

@media screen and (max-width: 449px) {
  .Header {
    align-items: baseline;
    text-align: center;
    margin-right: 35px;
    font-size: 20px;
  }

  .Header__not-logged-in {
    flex-direction: column;
  }

  .Header__not-logged-in .Hyph {
    display: initial;
  }

}



@media screen and (max-width: 320px) {
  .Header {
    align-items: baseline;
    text-align: center;
    margin-right: 35px;
  }

  .Header h1 {
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .Header__not-logged-in {
    flex-direction: column;
  }

  .Header__not-logged-in .Hyph {
    display: initial;
  }


}