@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
}

body {
  background-image: url("field.png");
  background-size: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.team_selector {
  font-size: 20px;
  margin-top: 150px;
  text-align: center;
}

#teamName {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

p {
  color: black;
}

.intro {
  color:  white;
  font-size: 50px;
  text-align: center;
}

.blue {
  color: #477ACC;
}

.yellow {
  color: #EAC435;
}

.green {
  color: #09a55e;
}

.red {
  color: #CA1551;
}

.orange {
  color: #FB4D3D;
}

.news_selector {
  margin: 50px;
}

div a img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: flex;
}

